<div class="col-md-6">
<h5>Adiciona familia should be an angular call to show the form</h5>
       
        <form method="post" action="/relative/new">
            <div class="control-group form-group">
                <div class="controls">
                    <label for="name-input"> Your Relative's Name </label>
                    <input type="text" class="form-control" id="relativeName" name="relativeName">
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label for="firstApell"> First Surname </label>
                    <input class="form-control"  type="text" name="firstApell" id="firstApell">
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label for="secondApell"> Second Surname </label>
                    <input class="form-control"  type="text" name="secondApell" id="secondApell">
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label for="parentesco"> Parentesco </label>
                    <input class="form-control"  type="text" name="parentesco" id="parentesco">
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label for="addressRelative"> Relative's Address </label>
                    <input class="form-control"  type="text" name="addressRelative" id="addressRelative">
                </div>
            </div>

            <div class="control-group form-group">
                <div class="controls">
                    <label for="carnetId"> carnet Id </label>
                    <input class="form-control"  type="text" name="carnetId" id="carnetId">
                </div>
            </div>

            

            <div class="control-group form-group">
                <div class="controls">
                    <label for="phoneRelative"> Relative's Phone </label>
                    <input class="form-control"  type="text" name="phoneRelative" id="phoneRelative">
                </div>
            </div>

            <div class="control-group form-group">
                <div class="controls">
                    <label for="emailRelative"> Relative's Email </label>
                    <input class="form-control"  type="text" name="emailRelative" id="emailRelative">
                </div>
            </div>
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary">Submit edition</button>
        </form>
        </div>